.clickme{
    margin-left: 47.5%;
    margin-top: 3%;
    background-color: rgb(126, 179, 179);
    border: black;
    border-radius: 3px;
}
.name1{
    margin-top: 2%;
    margin-left: 39%; 
}
.name1 label{
    color: teal;
}
.name{  
    margin-left: 39%;
}
.name  label{
   color: teal;
}